html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100%;
}

#leftAside {
    background-color: rgb(197, 162, 130);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 1em;
    margin-right: 1em;
}

#leftAside > section {
    margin-bottom: 2em;
}

#gameArea {
    flex: 6;
    background-image: url("../images/LonelyTroll.png");
    background-repeat: no-repeat;
}

.scoreBoard {
    display: flex;
}